<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<section id="contact">
    <div class="contact-header">
        <div class="line"></div>
        <h2>Contact</h2>
        <div class="line"></div>
    </div>

  <!-- First div with two centered cards -->
<div class="cards-container">
    <div class="card">
       <i class="fa fa-envelope"></i> 
       <p>balkis.hmidi@esprit.tn
    </p>
    </div>
    <div class="card">
       <i class="fa fa-phone"></i>
       <p>+216 52 259 276</p>
    </div>
</div>

<!-- Second div with one centered card -->
<div class="cards-container single-card">
    <div class="card">
       <i class="fa fa-map-marker"></i> 
       <p>Borj cedria, El Riadh, Tunisia</p>
    </div>
</div>

    <div class="underline"></div>
</section>


<section id="thanks">
    <div class="contact-header">
        <h2 class="thx"> " Thanks for scrolling "</h2>
    </div>
   

</section>
