<section id="projects">
    <h3>My Projects</h3>
  
    <div class="projects-container">
      <div *ngFor="let project of projects" class="project-card">
        <div class="project-image" [ngStyle]="{'background-image': 'url(' + project.image + ')'}">
          <div class="overlay">
            <h2>{{ project.name }}</h2>
            <p>{{ project.description }}</p>
            <a [href]="project.link" target="_blank" class="see-more-btn">See More →</a>
          </div>
        </div>
      </div>
    </div>
    
    <a href="your-link" class="view-more-btn">View More →</a>
  </section>
  
  